.padd-x {
  padding-left: 5vw !important;
  padding-right: 5vw !important;
}

@media (max-width: 499px) {
  .padd-x {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
}


/* button css code hehrehrehreh  */


.button {
  position: relative;
  display: inline-flex;
  padding: 1.5vw 5vw;
  font-size: 1.2vw;
  font-weight: 500;
  line-height: 1.25;
  color: var(--text-color);
  background: transparent;
  border: 1px solid var(--text-color);
  border-radius: 0.25rem;
  user-select: none;
  border-radius: 50px;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.75s cubic-bezier(0.19, 1, 0.22, 1);
}


.text-wrapper {
  z-index: 100;
  position: relative;
  color: transparent;
}

.text-wrapper::before,
.text-wrapper::after {
  content: attr(data-text);
  position: absolute;
  top: 50%;
  left: 50%;
  color: #000;
  white-space: nowrap;
  transform: translate3d(-50%, -50%, 0);
  transition: all 0.65s cubic-bezier(0.19, 1, 0.22, 1);
}

.text-wrapper::after {
  color: var(--text-color);
  transform: translate3d(-50%, 140%, 0);
}

.fill {
  z-index: 10;
  position: absolute;
  top: -50%;
  left: -25%;
  width: 150%;
  height: 250%;
  display: block;
  border-radius: 50%;
  background: var(--bg-color);
  pointer-events: none;
  transform: translate3d(0, 80%, 0);
  transition: all 0.55s cubic-bezier(0.19, 1, 0.22, 1);
}

.button:hover .text-wrapper::before {
  transform: translate3d(-50%, -300%, 0);
}

.button:hover .text-wrapper::after {
  color: var(--text-color);
  transform: translate3d(-50%, -50%, 0);
}

.button:hover .fill {
  transform: translateY(-30%);
}

@media (max-width: 999px) {
  .button {
    font-size: 1rem;
    padding: 1.2rem 4rem;
  }
}

@media (max-width: 399px) {
  .button {
    font-size: .8rem;
    padding: 1.3rem 4rem;
  }
}



/* heading code herehrhe rh */

.heading {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-top: 50px !important;
  margin: 30px 0;
}

.heading h2 {
  font-family: nohem-regular;
  text-align: end;
  font-size: 3vw;
  margin-bottom: 0px;
}


@media (max-width: 999px) {

  .heading h2 {
    text-align: end;
    font-size: 2.5rem;
  }
}

@media (max-width: 768px) {
  .heading {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .heading h2 {
    text-align: center;
    font-size: 2.5rem;
  }
}


/* herosection code hererer ee */

.herosection {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  position: relative;
  overflow-x: clip;
  /* background-image: url('../public/images/bg2.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom; */
  padding-top: 8vw;
}

.herosection img {
  width: 75%;
  z-index: 9;
}

.herosection .img-left {
  position: absolute;
  left: 0;
  bottom: 4%;
  width: 28%;
  z-index: 99;
}

.herosection .img-right {
  position: absolute;
  width: 28%;
  right: 0;
  bottom: 2%;
}

.herosection .content {
  position: absolute;
  top: 15vw;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
}

.herosection .content h1 {
  font-size: 9vw;
  z-index: -999;
  position: relative;
  margin-top: 25px;
  font-family: nohem-light;
  color: var(--accent2-color);

}

.herosection .content h2 {
  font-family: roselyn;
  font-size: 20vw;
  color: #fff;
  margin-top: -15vw;
  font-weight: 500;
  letter-spacing: 1px;
  text-shadow: 3px 3px var(--accent1-color);
  mix-blend-mode: screen;
  z-index: 9999;
  position: relative;
}

@media (max-width: 1199px) {
  .herosection {
    padding-top: 100px;
  }

  .herosection .content h1 {
    font-size: 15vw;
  }

  .herosection .content h2 {
    font-size: 30vw;
    margin-top: -130px;
  }

  .herosection .content {
    top: 230px !important;
  }
}


@media (max-width: 999px) {
  .herosection {
    justify-content: end;
    align-items: end;
  }

  .herosection .content {
    top: 10%;
  }

  .herosection img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .herosection .img-left,
  .herosection .img-right {
    width: 350px;
    height: auto;
  }

  .herosection .img-left {
    left: -10% !important;
  }

  .herosection .img-right {
    right: -10% !important;
  }
}

@media (max-width: 768px) {

  .herosection .img-left,
  .herosection .img-right {
    width: 300px;
    height: auto;
  }

  .herosection .img-left {
    left: -15% !important;
  }

  .herosection .img-right {
    right: -15% !important;
  }
}

@media (max-width: 699px) {
  .herosection .content h1 {
    font-size: 8.5rem;
    text-align: center;
    line-height: 70%;
  }

  .herosection .content h2 {
    margin-top: -80px;
  }


  .herosection img {
    width: 100%;
    height: 80%;
    object-fit: cover;
  }

  .herosection .img-left,
  .herosection .img-right {
    width: 250px;
    height: auto;
  }

  .herosection .img-left {
    left: -40% !important;
  }

  .herosection .img-right {
    right: -40% !important;
  }
}

@media (max-width: 499px) {
  .herosection .content {
    top: 350px;
  }

  .herosection .content h1 {
    font-size: 8rem;
  }

  .herosection .content h2 {
    font-size: 10rem;
  }
}

/* category css herehrehr  */


.category {
  margin: 30px 0;
  padding: 0 5vw;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 40px;
}

.category .cat-item {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 15vw;
  text-decoration: none;
}

.category .cat-item .cat-img {
  overflow: hidden;
  border-radius: 50%;
  width: fit-content;
  height: 100%;
  margin-bottom: 20px;
}

.category .cat-item .cat-img img {
  transition: all .5s ease;
}

.category .cat-item .cat-img:hover img {
  transform: scale(1.1);
}

.category .cat-item img {
  width: 100%;
}

.category .cat-item h3 {
  width: fit-content;
  font-size: 1.7vw;
  text-decoration: none;
  color: var(--text-color);
}