@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

@font-face {
  font-family: nohem-regular;
  src: url('./Font/Nohemi-Regular-BF6438cc4d0e493.ttf');
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;

}